.page-btn{
    padding: 25px 49px 21px 46px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    line-height: 1.2em;
    text-transform: uppercase;
    border-radius: 0;
    background-color: white;
    

    &:hover{
        background: none;
        transition: all .3s ease;
        border-radius: 8px;
        border: 1px soldi aqua;
        color: #fff !important;
    }

    &.left-to-right {
        position: relative;
        z-index: 1;
        cursor: pointer;
        color: $color000;
        border: none;
        transition: all .3s ease;
        border-radius: 8px;
        
        &:hover::before {
          transform: scaleX(1);
          z-index: -1;
          border: none;
          border-radius: 8px;
          min-width: 100%;
        transition: all .3s ease;
        color: $colorWhite;
          
        }
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          min-height: 60px;
          top: 0;
          left: 0;
          background-color: $mainColor;
        transition: all .3s ease;
        color: $colorWhite;
          border-radius: 8px;
          transition: all .5s ; 
          transform-origin: 0 0;
          transform: scaleX(0);
          z-index: -999;
          border: none;
        }
    }
}