@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

ul, li {
  list-style: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

body {
  font-family: "Oxanium", sans-serif;
  overflow-x: hidden;
}

.page-btn {
  padding: 25px 49px 21px 46px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  line-height: 1.2em;
  text-transform: uppercase;
  border-radius: 0;
  background-color: white;
}
.page-btn:hover {
  background: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  border: 1px soldi aqua;
  color: #fff !important;
}
.page-btn.left-to-right {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #000;
  border: none;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.page-btn.left-to-right:hover::before {
  transform: scaleX(1);
  z-index: -1;
  border: none;
  border-radius: 8px;
  min-width: 100%;
  transition: all 0.3s ease;
  color: #fff;
}
.page-btn.left-to-right:before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 60px;
  top: 0;
  left: 0;
  background-color: #FF4D24;
  transition: all 0.3s ease;
  color: #fff;
  border-radius: 8px;
  transition: all 0.5s;
  transform-origin: 0 0;
  transform: scaleX(0);
  z-index: -999;
  border: none;
}

#offCanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  transition: transform 0.5s ease;
  z-index: 1000000000000000000000;
  transform: translateX(100%);
  overflow-y: auto;
}
#offCanvas .offcanvas-content {
  position: relative;
  padding: 55px 20px;
}
#offCanvas.open {
  transform: translatex(0);
}
#offCanvas #offcanvasContentMain .miniCard {
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#offCanvas #offcanvasContentMain .miniCard .card-img {
  width: 100px;
}
#offCanvas #offcanvasContentMain .miniCard .cardInfo h5 {
  font-size: 14px;
}
#offCanvas #offcanvasContentMain .miniCard .cardCount button {
  background-color: #505050;
  border: 1px solid #505050;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
#offCanvas #offcanvasContentMain .miniCard .delete button {
  border: none;
  background: none;
  margin-bottom: 38px;
}

#offCanvasSideBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background-color: #fff;
  transition: transform 0.5s ease;
  z-index: 111111111;
  transform: translateX(100%);
  overflow-y: auto;
}
#offCanvasSideBar .offcanvas-content {
  position: relative;
  padding: 85px 20px;
}
#offCanvasSideBar.open {
  transform: translatex(0);
}
#offCanvasSideBar #offcanvasContentMain {
  padding: 0 40px;
}
#offCanvasSideBar .social-icons ul {
  padding: 30px 30px;
}
#offCanvasSideBar .social-icons ul li {
  padding: 5px 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#offCanvasSideBar .social-icons ul li a i {
  font-size: 19px;
}
#offCanvasSideBar .social-icons ul li a:hover {
  color: #FF4D24;
  transform: translateX(5px);
  transition: all 0.5s ease;
}

#header .header-content .header-top {
  height: 72px;
  background-color: #000;
}
#header .header-content .header-top .logo svg {
  fill: white;
}
#header .header-content .header-top .search form {
  height: 48px;
  width: 700px;
  transition: width 0.2s ease-out;
}
#header .header-content .header-top .search form div input {
  width: 80%;
  padding: 10px 30px;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-color: #313131;
  font-size: 17px;
  line-height: 1.47em;
  font-weight: 400;
  color: #9a9a9a;
}
#header .header-content .header-top .search form div button {
  display: block;
  width: 100%;
  max-width: 68px;
  height: 45px;
  padding: 0;
  border: 0;
  font-size: 19px;
  color: #fff;
  background-color: #313131;
  position: relative;
}
#header .header-content .header-top .search form div button::after {
  content: "";
  position: absolute;
  background-color: #FF4D24;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  z-index: 1;
  transition: width 0.4s;
}
#header .header-content .header-top .store .spans {
  min-width: 68px;
  cursor: pointer;
}
#header .header-content .header-top .store .spans span {
  color: #fff;
}
#header .header-content .header-top .store .spans .count {
  font-size: 11px;
  background-color: #FF4D24;
  padding: 4px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  position: relative;
  top: -2px;
  margin-left: 7px;
}
#header .header-content .header-top .store .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  gap: 5px;
}
#header .header-content .header-top .store .hamburger .bar {
  width: 50px;
  height: 4px;
  background-color: #fff;
  transition: all 0.3s;
}
#header .header-content .header-top .store .hamburger .bar:last-child {
  width: 50%;
}
#header .header-content .header-top .store .hamburger:hover .bar {
  width: 50px;
}
#header .header-content .header-top .store .hamburger:hover .bar:last-child {
  width: 50px;
}
#header .header-content .header-top .store .hamburger:hover .bar:first-child {
  width: 50%;
  margin-left: 50%;
}
#header .header-content .header-bottom {
  height: 72px;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li {
  height: 100%;
  padding: 17px;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li:hover body {
  background-color: rgba(0, 0, 0, 0.5);
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #000;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li .nav-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #FF4D24;
  left: 0;
  top: -18px;
  transition: all 0.3s;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li .dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  padding: 15px 80px 15px 15px;
  min-width: 200px;
  text-align: left;
  opacity: 0;
  z-index: 999999;
  visibility: hidden;
  background: #fff;
  transform: scaleY(0);
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 0.8);
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li .dropdown .dropdown-item-li {
  padding: 12px;
  transition: all 0.5s ease;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li .dropdown .dropdown-item-li:hover .dropdown-link {
  color: #FF4D24;
  margin-left: 5px;
  transition: all 0.5s ease;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #FF4D24;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li:hover::after {
  width: 100%;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li:hover .nav-link {
  color: #FF4D24;
  transition: all 0.3s;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .navbar-li .nav-link {
  font-size: 0.9rem;
  color: #000;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .beforeItem {
  background-color: #f3f3f3;
  position: relative;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .beforeItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  top: 0;
  left: 0;
  background-color: #FF4D24;
  opacity: 1;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .nav-item:hover .dropdown {
  position: absolute;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 15px 75px 15px 15px;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  transition: all 0.4s;
  min-width: 250px;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .nav-item:hover .dropdown .dropdown-link {
  color: #000;
}
#header .header-content .header-bottom nav .navbar-links .navbar-ul .nav-item:hover .dropdown .dropdown-link:hover {
  transform: translateX(20px);
}
#header .header-content .header-bottom .contact .support {
  background-color: rgba(0, 0, 0, 0);
  color: #7b7b7b;
  padding: 32px;
}

#navbar2 {
  z-index: 999999999999999;
  height: 72px;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
}
#navbar2 .navbarFixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li {
  height: 100%;
  padding: 17px;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li:hover body {
  background-color: rgba(0, 0, 0, 0.5);
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #000;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li .nav-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #FF4D24;
  left: 0;
  top: -18px;
  transition: all 0.3s;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li .dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 15px 80px 15px 15px;
  min-width: 200px;
  text-align: left;
  opacity: 0;
  z-index: 999999;
  visibility: hidden;
  background: #fff;
  transform: scaleY(0);
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 0.1);
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li .dropdown .dropdown-item-li {
  padding: 12px;
  transition: all 0.5s ease;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li .dropdown .dropdown-item-li:hover .dropdown-link {
  color: #FF4D24;
  margin-left: 5px;
  transition: all 0.5s ease;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li::after {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li:hover::after {
  width: 100%;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li:hover .nav-link {
  color: #FF4D24;
  transition: all 0.3s;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .navbar-li .nav-link {
  font-size: 0.9rem;
  color: #000;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .beforeItem {
  background-color: #f3f3f3;
  position: relative;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .beforeItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  top: 0;
  left: 0;
  background-color: #FF4D24;
  opacity: 1;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .nav-item:hover .dropdown {
  position: absolute;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 15px 75px 15px 15px;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  transition: all 0.4s;
  min-width: 250px;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .nav-item:hover .dropdown .dropdown-link {
  color: #000;
}
#navbar2 .navbarFixed .navbar-links .navbar-ul .nav-item:hover .dropdown .dropdown-link:hover {
  transform: translateX(20px);
}
#navbar2 .navbarFixed .store {
  color: #313131;
}
#navbar2 .navbarFixed .store .spansFixed {
  min-width: 68px;
  color: #000;
  display: flex;
  width: 100%;
}
#navbar2 .navbarFixed .store .spansFixed span {
  color: #000;
}
#navbar2 .navbarFixed .store .spansFixed .countfixed {
  font-size: 11px;
  padding: 4px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  background-color: #FF4D24;
  position: relative;
  top: -2px;
  margin-left: 7px;
}
#navbar2 .navbarFixed .store .hamburgerFixed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  gap: 5px;
  color: #000;
}
#navbar2 .navbarFixed .store .hamburgerFixed .bar {
  width: 50px;
  height: 4px;
  background-color: #313131;
  transition: all 0.3s;
  color: red;
}
#navbar2 .navbarFixed .store .hamburgerFixed .bar:last-child {
  width: 50%;
}
#navbar2 .navbarFixed .store .hamburgerFixed:hover .bar {
  width: 50px;
}
#navbar2 .navbarFixed .store .hamburgerFixed:hover .bar:last-child {
  width: 50px;
}
#navbar2 .navbarFixed .store .hamburgerFixed:hover .bar:first-child {
  width: 50%;
  margin-left: 50%;
}
#navbar2 .navbarFixed .hamburgerFixedSideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  gap: 5px;
  color: #000;
}
#navbar2 .navbarFixed .hamburgerFixedSideBar .bar {
  width: 50px;
  height: 4px;
  background-color: #313131;
  transition: all 0.3s;
  color: red;
}
#navbar2 .navbarFixed .hamburgerFixedSideBar .bar:last-child {
  width: 50%;
}
#navbar2 .navbarFixed .hamburgerFixedSideBar:hover .bar {
  width: 50px;
}
#navbar2 .navbarFixed .hamburgerFixedSideBar:hover .bar:last-child {
  width: 50px;
}
#navbar2 .navbarFixed .hamburgerFixedSideBar:hover .bar:first-child {
  width: 50%;
  margin-left: 50%;
}

#sideBar {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 380px;
  height: 100%;
  transition: all 0.5s ease;
  z-index: 111111111;
}
#sideBar .sideBar-content {
  position: relative;
  padding: 110px 20px;
}
#sideBar .sideBar-content .sideBarCloseBtn {
  cursor: pointer;
  position: absolute;
  top: 150px;
  right: 50px;
}
#sideBar .sideBar-content .sideBarCloseBtn span i {
  color: black;
  font-size: 28px;
}
#sideBar .sideBar-content .sideBarMobNav nav {
  padding-top: 90px;
}
#sideBar .sideBar-content .sideBarMobNav nav ul {
  color: #000;
}
#sideBar .sideBar-content .sideBarMobNav nav ul li {
  padding-top: 20px;
}
#sideBar .sideBar-content .sideBarMobNav nav ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  transition: all 0.5s ease;
}
#sideBar .sideBar-content .sideBarMobNav nav ul li a:hover {
  color: #FF4D24;
  transition: all 0.5s ease;
  transform: translateX(3px);
}
#sideBar .sideBar-content .sideBarMobNav nav ul li a .homes {
  color: #FF4D24;
}
#sideBar .sideBar-content .sideBarMobNav nav ul li ul {
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transform: scaleY(0);
  transition: all 0.3s;
}
#sideBar .sideBar-content .sideBarMobNav nav ul li ul li {
  padding: 10px;
  cursor: pointer;
  color: #000;
  transition: all 0.5 ease;
}
#sideBar .sideBar-content .sideBarMobNav nav ul li ul li:hover {
  color: #FF4D24;
  transition: all 0.5s ease;
  transform: translateX(3px);
}
#sideBar .sideBar-content .sideBarMobNav nav ul li ul.active {
  visibility: visible;
  opacity: 1;
  position: relative;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 20px 0 10px;
  transform: scaleY(1);
  transition: all 0.3s;
  transform-origin: top center;
  overflow: hidden;
  height: 150px;
}

.sideBarMenu {
  display: none;
}

.sideBarMenu.active {
  display: block;
}

#hero {
  height: 100%;
  min-height: 300vh;
}
#hero .heroSlider {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
}
#hero .heroSlider .sipperSlide .colImg .pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .heroSlider .sipperSlide .colImg .pic img {
  margin-left: 200px;
}
#hero .heroSlider .sipperSlide .slider-content {
  padding-left: 30px;
}
#hero .heroSlider .sipperSlide .slider-content h1 {
  font-size: 52px;
}
#hero .heroSlider .sipperSlide .slider-content p {
  font-size: 22px;
}
#hero .heroSlider .sipperSlide .slider-content .btnSldier a {
  color: #000;
}
#hero .heroSlider .sipperSlide .slider-content .btnSldier a::after {
  content: "";
  position: absolute;
  background-color: #FF4D24;
  left: 0;
  top: 0;
  width: 6px;
  height: 98%;
  z-index: 1;
}
#hero .heroSlider .sipperSlide .next-prev {
  position: relative;
  top: 30px;
}
#hero .heroSlider .sipperSlide .next-prev .swiper-button-next {
  position: relative;
  left: 60px;
  bottom: 40px;
}
#hero .heroSlider .sipperSlide .next-prev .swiper-button-prev {
  position: relative;
  left: 10px;
  bottom: 62px;
}
#hero .heroProduct .heroProductItems .row .col-12.col-lg-4 .card {
  display: block;
  border: none;
  transition: all 0.5s ease;
}
#hero .heroProduct .heroProductItems .row .col-12.col-lg-4 .card .car-item .car-img .secondary-img {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
#hero .heroProduct .heroProductItems .row .col-12.col-lg-4 .card .car-item .car-img:hover .primary-img {
  display: none;
  opacity: 0;
  visibility: hidden;
}
#hero .heroProduct .heroProductItems .row .col-12.col-lg-4 .card .car-item .car-img:hover .secondary-img {
  display: block;
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=main.css.map */