#hero{
    height: 100%;
    min-height: 100vh;
    .heroSlider{
        height: 100%;
        width: 100%;
        background-color: $colorBgOpacity;
        .sipperSlide{
            .colImg{

                .pic{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        margin-left:200px ;
                    }
                }
            }
            .slider-content{
                h1{
                    font-size: 52px;
                }
                p{
                    font-size: 22px;
                }
                .btnSldier{
                    a{

                        color: #000;
                        &::after{
                            content: "";
                            position: absolute;
                            background-color: $mainColor;
                            left: 0;
                            top: 0;
                            width: 6px;
                            height: 98%;
                            z-index: 1;
                            
                        }
                    }
                }

            }

            .next-prev{
                position: relative;

                top: 30px;
                .swiper-button-next{
                    position: relative;
                    left: 70px;
                    bottom: 50px;
                }
                .swiper-button-prev{
                    position: relative;
                    left: 20px;
                    bottom: 72px;
                }
            }
        }
    }
}

.qodef_mobile_page {
    background-color: #181717;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;

    .qodef_mobile_text {
        color: white;

        p {
            color: gray;
        }

    }

}



// section top caegories start
.elementor_text {
    text-align: center;

    h4 {
        font-size: 45px;
    }
}

.container_latest_blog {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

    .text_blog {
        h2 {
            font-size: 20px;
        }

        p {
            color: gray;

        }
    }

    .blog {


        width: 440px;
        height: 450px;
    }
}

// section top categories end