// Hero Section Start
#hero{
    height: 100%;
    min-height: 100vh;
    // heroSldier start
    .heroSlider{
        height: 100%;
        width: 100%;
        background-color: $colorBgOpacity;
        .sipperSlide{
            .colImg{

                .pic{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        margin-left:200px ;
                    }
                }
            }
            .slider-content{
                padding-left: 30px;
                h1{
                    font-size: 52px;
                }
                p{
                    font-size: 22px;
                }
                .btnSldier{
                    a{

                        color: #000;
                        &::after{
                            content: "";
                            position: absolute;
                            background-color: $mainColor;
                            left: 0;
                            top: 0;
                            width: 6px;
                            height: 98%;
                            z-index: 1;
                            
                        }
                    }
                }

            }

            .next-prev{
                position: relative;

                top: 30px;
                .swiper-button-next{
                    position: relative;
                    left: 60px;
                    bottom: 40px;
                }
                .swiper-button-prev{
                    position: relative;
                    left: 10px;
                    bottom: 62px;
                }
            }
        }
    }
    // heroSldier end

    // heroProduct start
    .heroProduct {
        .heroProductItems {
            .row {
                .col-12 {
                    &.col-lg-4 {
                        .card {
                            display: block;
                            border: none;
                            transition: all 0.5s ease;
                            &::before{
                                    content: "";
                                    position: absolute;
                                    right: -22px;
                                    top: -16px;
                                    width: 16px;
                                    height: 16px;
                                    z-index: 20;
                                    background:$mainColor; 
                            }

                            &::after{
                                content: "";
                                position: absolute;
                                right: -22px;
                                bottom: -12px;
                                width: 16px;
                                height: 12px;
                                z-index: 20;
                                background:$mainColor; 
                            }
                        
                            .car-item {
                                position: relative;
                                &:hover .car-content{
                                    h2{
                                        color:$colorWhite;
                                    }
                                }
                                .car-img {
                                    
                                    .secondary-img {
                                        opacity: 0;
                                        transition: all 0.5s ease;
                                        position: absolute; 
                                        top: 0; 
                                        left: 0;
                                    }
                        
                                    &:hover {
                                        .primary-img {
                                            opacity: 0;   
                                            transition: all 0.5s ease;

                                        }
                        
                                        .secondary-img {
                                            opacity: 1;
                                            transition: all 0.5s ease;

                                        }
                                    }

                                }
                                .car-content{
                                    h2{
                                        position: absolute;
                                        left: 30px;
                                        top: 30px;
                                        text-transform: uppercase;
                                        

                                    }
                                    span{
                                        position: absolute;
                                        left: 35px;
                                        bottom: -20px;
                                        font-weight: 600;
                                        color: #000;
                                        font-size: 110px;
                                        color: transparent;
                                        -webkit-text-stroke: 2px #e1e1e1;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
    // heroProduct end

    
}
// Hero Section end


// Parallax Section Start
#parallaxSect{
    background-image: url("https://shiftup.qodeinteractive.com/wp-content/uploads/2021/12/shop-home-img-16-3.jpg");
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover ;
    background-attachment: fixed ;
    .parallaxSect-content{
        h1{
            span{
                font-weight: 600;
                color: #000;
                font-size: 110px;
                color: transparent;
                -webkit-text-stroke: 1px #e1e1e1;
            }
        }
        h2{
            color: $colorEEE;
        }
        p{
            color: $colorBgOpacity;
        }
    }
}
// Parallax Section end


// Brand Sections Start
#brand{
    padding: 73px 0px 41px 0px;
    background-color:  #FF4D24;
    width: 100%;
    height: 30vh;
    img{
        opacity: 0.5;
        transition: all 0.5s ease;

        &:hover{
            opacity: 1;
            transition: all 0.5s ease;
        }
    }
}
// Brand Sections Start



#Mobile{
    .mobile{
        .mobileImg{
            position: relative;
            img{
                max-width: 280px;
            }
            .second{
                position: absolute;
                top: 25px;
                left:150px;
            }
        }
        .mobileContent{
            h1{
                font-weight: 700;
                font-family: Oxanium,cursive;
                text-transform: uppercase;
                color: $color000;
                font-size: 45px;
                line-height: 1.0667em;
            }
            p{
                color: $colorP;
            }
        }
    }
}


#parallaxSect-second{
    background-image: url("https://shiftup.qodeinteractive.com/wp-content/uploads/2021/12/shop-home-img-17-2-1-1.jpg");
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover ;
    background-attachment: fixed ;
    .parallaxSect-content{
        h1{
            span{
                font-weight: 600;
                color: #000;
                font-size: 110px;
                color: transparent;
                -webkit-text-stroke: 1px #e1e1e1;
            }
        }
        h2{
            color: $colorEEE;
        }
        p{
            color: $colorP;
        }
    }
}



#SpeedService{

    .speedService{
        .cardcarspeed{
            position: relative;
            
        }
        .cardSpeed{
            position: relative;
            &:hover img{
                transform: scale(1.1);
            }
            .cardImgSpeed{
                overflow: hidden;
                img{
                    transition: all 0.4s ease;
                }
            }
               
            .cardContentSpped{
                position: absolute;
                top: 60px;
                left: 60px;
                h2{
                    color: $colorWhite;
                }
            }
        }
    }
}



.qodef_mobile_page {

    background-color: #181717;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .qodef_mobile_text {
        color: white;

        p {
            color: gray;
        }

    }

}



// section top caegories start
.elementor_text {
    text-align: center;

    h4 {
        font-size: 45px;
    }
}

.container_latest_blog {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

    .text_blog {
        h2 {
            font-size: 20px;
        }

        p {
            color: gray;

        }
    }

    .blog {


        width: 440px;
        height: 450px;
    }
}

// section top categories end